*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.container-1{
    width: 100vw;
    height: 100vh;
}
.menu-1{
    width: 1280px;
    height: 141px; 
    display: flex;
    margin: 0 150px;
    align-items: center;
    justify-content: space-between;
}
.menu-1 ul{
    display: flex;
    margin-left: 220px;
    list-style: none;
}
.menu-1 li a{
    padding: 20px;
    font-size: 16px;
    font-family: tomorrow ,sans-serif;
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.3s;
}
.menu-1 li a:hover{
    color: red;
}
.r-m-btn a{
    color: black;
    border-radius: 5px;
    margin-left: -100px;
    padding: 16px 24px;
    background-color: aliceblue;
    text-decoration: none;
    list-style: none;
    transition: ease-in-out 0.8s;
}
.r-m-btn a:hover{
    color: white;
    background-color: red;
}

.container{
    width: 1520.8px;
    height: 847px;
    margin-top: 100px;
    margin-left: 50px;
}
.tx{
    width: 500px;
    height: 391px;
}
.tx-1{
    width: 500px;
    height: 23px;
}
.logo-2 img{
    width: 20px;
    height: 18px;
    margin-right: 10px;
}
.logo-2{
    font-size: 14px;
    font-family: tomorrow ,sans-serif;
    color: #CDCDCF;
}

.tx-2{
    width: 500px;
    height: 240px;
    margin-top: 10px;
   
}
.tx-2 h2{
    font-size: 64px;
    font-family:"Anta", sans-serif; 
    color: #FFFFFF;
}
.tx-3{
    width: 395px;
    height: 77px;
    margin-top: 10px;
}
.tx-3 p{
    font-size: 16px;
    font-family: tomorrow ,sans-serif;
    color: #CDCDCF;
}
.b-a-c-btn{
    width: 154px;
    height: 52px;
    margin-top: 20px;   
}
.b-a-c-btn a{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 16px 24px;
    font-family: "Anta", sans-serif;
    border-radius: 5px;
    transition: ease-in-out 0.8s;
}
.b-a-c-btn a:hover{
   background-color: aliceblue;
    color: black;
}

.bg
{
    background-image: url(../img/image-2.png);
    /* width: 640px;
    height: 646px; */
    background-position: right;
    background-repeat: no-repeat;
}
.im{
    width: 940px;
    height: 528px;
}