html,
body {
    height: 100%;
    margin: 0;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;

}

.container-1 {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.menu-1 {
    width: 1280px;
    height: 141px;
    display: flex;
    margin: 0 150px;
    align-items: center;
    justify-content: space-between;
}

.menu-1 ul {
    display: flex;
    margin-left: 220px;
    list-style: none;
}

.menu-1 li {
    position: relative;
}

.menu-1 a {
    padding: 15px;
    font-size: 16px;
    font-family: tomorrow, sans-serif;
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.3s;
}

.menu-1 li a:hover {
    color: red;
}

.submen {
    position: absolute;
    width: 150px;
    display: flex;
    flex-direction: column;
    height: 100px;
    top: 20px;
    padding: 0;
    right: 0px;
    /* background-color: black; */
}

.submen li {
    list-style: none;
}

.submen a {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    display: none;
}

.submen a:hover {
    color: red;
}

.menu-1 li:hover .submen a {
    display: block;
}

.sub {
    position: absolute;
    display: flex;
    white-space: nowrap;
    top: 20px;
    right: 0px;
    flex-direction: column;
    height: 10px;
}

sub li {
    list-style: none;
}

.sub a {
    text-decoration: none;
    color: white;
    display: none;
    margin-bottom: 10px;
}

.sub a:hover {
    color: red;
}

.menu-1 li:hover .sub a {
    display: block;
}

.r-m-btn a {
    color: black;
    border-radius: 5px;
    margin-left: -100px;
    padding: 16px 24px;
    background-color: aliceblue;
    text-decoration: none;
    list-style: none;
    transition: ease-in-out 0.8s;
}

.r-m-btn a:hover {
    color: white;
    background-color: red;
}

.container {
    width: 1520.8px;
    height: 847px;
    margin-top: 100px;
    /* margin-left: 50px; */
}

.tx {
    width: 500px;
    height: 591px;
    margin-left: 20px;
}

.tx-1 {
    width: 500px;
    height: 23px;
}

.logo-2 img {
    width: 20px;
    height: 18px;
    margin-right: 10px;
}

.logo-2 {
    font-size: 14px;
    font-family: tomorrow, sans-serif;
    color: #CDCDCF;
}

.tx-2 {
    width: 500px;
    height: 240px;
    margin-top: 10px;

}

.tx-2 h2 {
    font-size: 64px;
    font-family: "Anta", sans-serif;
    color: #FFFFFF;
}

.tx-3 {
    width: 395px;
    height: 77px;
    margin-top: 10px;
}

.tx-3 p {
    font-size: 16px;
    font-family: tomorrow, sans-serif;
    color: #CDCDCF;
}

.b-a-c-btn {
    width: 154px;
    height: 52px;
    margin-top: 20px;
}

.b-a-c-btn a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 16px 24px;
    font-family: "Anta", sans-serif;
    border-radius: 5px;
    transition: ease-in-out 0.8s;
}

.b-a-c-btn a:hover {
    background-color: aliceblue;
    color: black;
}

.review {
    margin-top: 60px;
}

.review-box {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* avatars */
.avatars {
    display: flex;
}

.avatars img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #0b0616;
    margin-left: -18px;
}

.avatars img:first-child {
    margin-left: 0;
}

/* rating box */
.rating-box {
    /* background: #0b0616; */
    padding: 14px 18px;
    border-radius: 6px;
    color: #7E7C80;
    font-family: "Tomorrow", sans-serif;
}

.stars {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.stars i {
    color: gold;
}

.score {
    margin-left: 8px;
    font-size: 14px;
    font-family: "Tomorrow", sans-serif;
}

.rating-box p {
    margin-top: 6px;
    font-size: 14px;
    color: #cfcfcf;
}
.hero-car {
    position: relative;
    width: 700px;
    height: 600px;
}

.circle-bg {
    position: absolute;
    width: 500px;
    height: 520px;
    /* border-radius: 50%; */
    background-image: url(./img/image-2.png);
    /* background: linear-gradient(180deg, #1aff4c, #0dbb3c) url(./img/image-2.png); */
    right: -50;
    background-size: cover;
    top: -90px;
    background-repeat: no-repeat;
    z-index: 1;
}

.hero-car img {
    position: absolute;
    width: 950px;
    right: 0px;
    bottom: 0;
    z-index: 2;
    background: transparent;
}

.txt {
    width: 126px;
    height: 118px;
    right: 220px;
    position: absolute;
    z-index: 9999;
    color: white;
    /* color: black; */
}

.txt-1 {
    font-size: 64px;
    text-align: center;
    font-family: "Anta", sans-serif;
}

.txt-2 {
    font-size: 14px;
    font-family: "Anta", sans-serif;
    color: #CDCDCF;
}